@charset "UTF-8";
/*Флекс контейнер в хедере*/
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

/*Логотип*/
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-top {
  color: #000000;
}

/*Навигация сайта*/
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

/*Лишки*/
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding: 32px 0;
  transition: color var(--transform--);
  /* padding-left: 25px;
  padding-right: 25px ;  */
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.link.current {
  color: var(--accent-text-color);
  position: relative;
}

.current::after {
  content: "";
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  transform: translateY(1px);
}

/*Ссылки навигации*/
.auth-nav {
  display: flex;
}

/*Лишки в адресе хедера*/
.auth-nav__item {
  display: flex;
  align-items: center;
}

.auth-nav__item:last-child {
  margin-left: 50px;
}

.auth-nav .link-nav {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--transform--);
}

.auth-nav .link-nav:hover,
.auth-nav .link-nav:focus {
  color: var(--accent-text-color);
}

.header-svg {
  fill: currentColor;
  margin-right: 10px;
}

.section-hero {
  padding: 200px 0;
  background-color: var(--background-color);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
}

.hero {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*Кнопка*/
.button {
  color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transform--), color var(--transform--);
}

.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  background-color: var(--background-color-button);
}

.benefits {
  display: flex;
  justify-content: space-between;
}

.benefits-list {
  max-width: 270px;
}

.benefits-svg-wrap {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  display: flex;
  margin-bottom: 30px;
}

.benefits-svg {
  margin: 25px 100px;
}

.benefits-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}/*# sourceMappingURL=main.css.map */